version: '2'

services: 
  app:
    build: .
    command: bundle exec ruby src/receiver.rb -e production
    ports:
      - 4567:4567
    volumes:
      - .:/app
    environment:
      - SECRET_TOKEN="SECRET"
      - JEKYLL_ROOT="ROOT"
